<div class="card">
  <div class='announcement col s4' id='project_announcement-<%= @announcement.id %>'>
    <div class="card-content">
      <span class="card-title purple-text"><%= @announcement.title %>
        <%= link_to announcement_path, :method => :delete, class: 'right waves-effect waves-light purple-text' do %>
          <i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete Announcement">delete</i>
        <% end %>
    </span>
      <span class="grey-text"><p><%= time_ago_in_words(@announcement.created_at) + ' ago' %></p></span>
      <span><%= @announcement.content %></span>
      <div class="row"></div>
    </div>
  </div>
</div>
