<div class="col s6" style="margin: 5px 0px;">
  <div class='group-user z-depth-2' id='user-<%= profile.id %>' style="display: flex;">
    <%= render 'users/user', user: profile %>
    <div class="row no-margin right switch" style="display: flex; justify-content: center; align-items: center; margin: 0px 10px 0px 0px">
      <input <%= profile.active ? '' : 'disabled ' %>type="checkbox" onclick="Turbolinks.visit('<%= profiles_path(id: profile.id.code, active: profile.active) %>');" style="cursor: pointer;">
      <span class="lever"></span>
      <% if profile.active %>
        <%= link_to profiles_path(id: profile.id, active: false), method: :patch, remote: true do %>
        <i class="material-icons red-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="Disable User">not_interested</i>
        <% end %>
      <% else %>
        <%= link_to profiles_path(id: profile.id, active: true), method: :patch, remote: true do %>
        <i class="material-icons red-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="Enable User">interested</i>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
