<div class="user-info">
  <h3 id='name'>Name: <%= "#{@user.first_name} #{@user.last_name}" %></h3>
  <h4 id='location'>Location: <%= @user.location.name %></h4>
  <% if @can_edit %>
    <%= link_to 'Edit', edit_profile_path(id: @user.id), remote: true %>
  <% end %>
</div>

<p><%= @user.email %></p>
<%= user_avatar(@user) %>
  <table>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  <% @user.groups.each do |group| %>
    <tr>
      <td> <%= group.name %></td>
      <td> <%= group.description %></td>
    </tr>
  <% end %>
  </table>
