<h2>Edit <%= @user.email %></h2>
<%= form_for @user, url: profile_path(id: @user.id), method: :patch do |f| %>
<% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.text_field :first_name, placeholder: 'Joe' %>
  <%= f.text_field :last_name, placeholder: 'Bloggs' %>
  <%= f.collection_select(:location_id, Location.all, :id, :name) %>
  <%= f.submit 'Update' %>
<% end %>
