<div id="project-role-<%= project_role.id %>" class="tab-content">
  <h5 class="purple-text"><%= project_role.name %>
  <% if @can_manage_roles %>
  <span class="badge">
    <%= link_to project_roles_path(code: project_role.project.code, name: project_role.name), method: :delete, remote:true do %>
    <i class="material-icons purple-text">delete</i>
  <% end %>
  </span>
  <% end %>
  </h5>
  <p class="grey-text"><%= project_role.description %></p>
  <div>
  <ul class="collapsible z-depth-0" data-collapsible="accordion">
    <li>
      <div class="collapsible-header">
        <i class="material-icons purple-text">lock</i>Permissions
      </div>
      <div class="collapsible-body">
        <%= render 'project_role_permissions/permissions', project_role: project_role %>
      </div>
    </li>

    <li>
      <div class="collapsible-header">
        <i class="material-icons purple-text">place</i>Locations
      </div>
      <div class="collapsible-body">
        <%= render 'project_role_locations/locations', project_role: project_role %>
      </div>
    </li>

    <li>
      <div class="collapsible-header">
        <i class="material-icons purple-text">build</i>Skills
      </div>
      <div class="collapsible-body">
        <%= render 'project_role_skills/skills', project_role: project_role %>
      </div>
    </li>

    <li>
      <div class="collapsible-header">
        <i class="material-icons purple-text">supervisor_account</i>Users
      </div>
      <div class="collapsible-body">
        <%= render 'project_role_users/users', project_role: project_role %>
      </div>
    </li>
  </ul>
  </div>
</div>
