<h1>Group: <%= @project_role.name %></h1>
<p><%= @project_role.description %></p>

<h2>Permissions:</h2>
<div id='project-role-permissions'>
</div>

<br>

<h2>Users:</h2>
<%= render 'project_role_users/search_form' %>
<div id='project-role-users'>
</div>

<br>

<h2>Locations:</h2>
<div id='locations'>
</div>
<div id='locations-edit'>
  <%= link_to 'Edit Locations...', project_role_locations_edit_path(code: @project.code, name: @project_role.name), remote: true %>
</div>
<p>Find me in app/views/project_roles/show.html.erb</p>

<script>
  loadProjectRoleLocations('<%= @project.code %>','<%= @project_role.name %>');
  loadProjectRoleUsers('<%= @project.code %>','<%= @project_role.name %>');
  loadProjectRolePermissions('<%= @project.code %>','<%= @project_role.name %>')
</script>
