<div class="modal-content">
  <%= form_for project_type, url: project_types_path(id: project_type.id), remote: true do |f| %>
    <h4 class='purple-text'>Edit Project Type<a href="#!" class="right modal-action modal-close waves-effect waves-grey btn-flat"><i class="material-icons">close</i></a></h4>

    <ul>
    <% project_type.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>

    <div class='input-field'>
      <%= f.text_field :name %>
      <%= f.label :name, class: 'active' %>
    </div>

    <div class='input-field'>
      <%= f.text_area :description, class: 'materialize-textarea' %>
      <%= f.label :description, class: 'active' %>
    </div>

    <%= f.submit 'Update Type', class: "btn waves-effect waves-light" %>
  <% end %>
</div>
