<div class="row" id='project-type-<%= project_type.id %>'>
  <div class="card col s12">
    <div class="card-content">
      <div class="row">
        <div class="col s10">
          <span class="card-title purple-text"><%= project_type.name %></span>
        </div>
        <div class="col s1">
          <% if @can_manage %>
            <%= link_to "#edit-project-type-modal-#{project_type.id}", class: 'right waves-effect waves-light purple-text' do %>
            <i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Edit Type">edit</i>
            <% end %>

            <div id="edit-project-type-modal-<%= project_type.id %>" class="modal">
              <%= render 'project_types/edit', project_type: project_type %>
            </div>
          <% end %>
        </div>
        <div class="col s1">
          <% if @can_manage %>
            <%= link_to project_type_path(id: project_type.id), :method => :delete, remote: true , class: 'right waves-effect waves-light purple-text' do %>
            <i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Delete Type">delete_forever</i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col s11">
          <%= project_type.description %>
        </div>
      </div>
    </div>
  </div>
</div>
