<div class="row no-margin" id="project-type-<%= project_type.id %>">
  <%= form_for project_type, url: project_types_path(id: project_type.id), method: :patch, remote: true do |f| %>
  <div class="row no-margin" style="display: flex;">
    <div class="input-field col s3">
      <%= f.text_field :name %>
      <%= f.label :name, class: 'active' %>
    </div>

    <div class="input-field col s7">
      <%= f.text_field :description %>
      <%= f.label :description, class: 'active' %>
    </div>

    <div class="col s3" style="display: flex; justify-content: center; align-items: center;">
      <button class="btn waves-effect waves-light" style="width: 100%" type="submit" name="action">Update</button>
      <%= link_to project_types_path(id: project_type.id), method: :delete, remote: true, style: 'margin-left: 30px;' do %>
        <i class="material-icons <%= project_type.projects.any? ? 'grey-text' : 'purple-text' %>">delete</i>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
