<div class="row" style="display: table-cell;">
  <ul class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li><a href="/admin">Admin Panel</a></li>
  </ul>
</div>

<div class="row">
  <h4 class="purple-text">Admin Panel</h3>
</div>

<div class="tab-content row z-depth-2">
  <ul class="collapsible z-depth-0 no-margin" data-collapsible="accordion">
    <li>
      <div class="collapsible-header purple-text" style="display: flex; font-size: 18px;" id="locations">Locations</div>
      <div class="collapsible-body" style="display: flex;">
        <div class="col s2">
          <p class="grey-text text-darken-1" id="locations-counter">Locations (<%= Location.count %>)</p>
        </div>
        <div class="col s10">
          <%= render 'locations/locations' %>
        </div>
      </div>
    </li>

    <li>
      <div class="collapsible-header purple-text" style="display: flex; font-size: 18px;" id="project_types">Project Types</div>
      <div class="collapsible-body" style="display: flex;">
        <div class="col s12">
          <%= render 'project_types/project_types' %>
        </div>
      </div>
    </li>

    <li>
      <div class="collapsible-header purple-text" style="display: flex; font-size: 18px;" id="skills">User Skills</div>
      <div class="collapsible-body" style="display: flex;">
        <div class="col s12">
          <%= render 'skills/table' %>
        </div>
      </div>
    </li>

    <li>
      <div class="collapsible-header purple-text" style="display: flex; font-size: 18px;" id="groups">User Groups</div>
      <div class="collapsible-body" style="display: flex;">
        <div class="col s12">
          <%= render 'groups/groups' %>
        </div>
      </div>
    </li>

    <li>
      <div class="collapsible-header purple-text" style="display: flex; font-size: 18px;" id="invitations">User Invitations</div>
      <div class="collapsible-body" style="display: flex;">
        <div class="col s12">
          <%= render 'invitations/invitations' %>
        </div>
      </div>
    </li>

    <li>
      <div class="collapsible-header purple-text" style="display: flex; font-size: 18px;" id="user_manage">User Disable</div>
      <div class="collapsible-body" style="display: flex;">
        <div class="col s2">
          <%= link_to "Manage Users", profiles_path %>
          <p class="grey-text text-darken-1">Active Users (<%= User.where(active: true).count %>)</p>
          <p class="grey-text text-darken-1">Disabled Users (<%= User.where(active: false).count %>)</p>
        </div>
        <div class="col s10">
          <%= render 'users/disable_admin_panel' %>
        </div>
      </div>
    </li>
  </ul>
</div>
