<%= form_for @group, url: groups_path do |f| %>
  <ul>
  <% @group.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
  <%= f.text_field :name %>
  <%= f.text_field :description %>
  <%= f.submit %>
<% end %>
