<div class='group', id='group-<%= group.id %>'>
  <%= link_to group.name, group_path(name: group.name) %>
  <%= octicon 'organization' %> Members: <%= group.users.count %>
  <%= link_to groups_path(name: group.name), method: :delete do %>
    <%= octicon 'trashcan' %>
    Delete
  <% end %>
</div>
