<h1>Profile#skills</h1>
<div id='skill-form'>
  <%= render 'user_skills/search_form' %>
  <div id='skill_search_results'></div>
</div>
<div div='skills'>
  <% if @user_skills.present? %>
    <table>
      <% @user_skills.each do |user_skill| %>
        <tr class="skill" id="skill-<%= user_skill.skill.name %>">
          <td><%= "#{user_skill.skill.name}" %></td>
          <td><%= "#{user_skill.skill.description}" %></td>
          <td><%= "#{user_skill.rating}" %></td>
          <td><%= button_tag :edit, :id => "#{user_skill.id}", :onclick => 'edit()' %></td>
          <td><%= button_tag :remove, :id => "#{user_skill.id}", :onclick => 'remove()' %></td>
        </tr>
        <% end %>
      </table>
  <% else %>
    <p id='no-skills'>User has no Skills.</p>
  <% end %>
</div>
