<div class="row">
  <a href="#manage-skills-<%= project_role.id %>" class='btn-flat center-align manage-button'>Manage Skills</a>
  <div id="project-role-skills">
    <% if project_role.project_role_skills.present? %>
    <% project_role.project_role_skills.each do |project_role_skill| %>
    <div class="col s4 project-role-skill project-role-content" id='project_role_skill-<%= project_role_skill.id %>'>
      <span class="skill-name"><%= project_role_skill.skill.name %></span>
      <span class="new badge" data-badge-caption="<%= project_role_skill.rating.humanize %>"></span>
    </div>
  <% end %>
  <% end %>
  </div>
</div>

<div class="modal" id="manage-skills-<%= project_role.id %>">
  <div class="modal-content">
  </div>
</div>
