<div class="tab-content" id="skill-type-<%= skill_type.id %>">
  <%= form_for Skill.new, url: skills_path, method: :post, remote: true do |f| %>
  <div class="row" style="display: flex;">
    <div class="input-field col s9">
      <%= f.text_field :name %>
      <%= f.label :name %>
      <%= f.hidden_field :skill_type_id, value: skill_type.id %>
    </div>

    <div class="col s3" style="display: flex; justify-content: center; align-items: center;">
      <button class="btn waves-effect waves-light" style="width: 100%" type="submit" name="action">Create</button>
    </div>
  </div>
  <% end %>

  <div style="max-height: 500px; overflow-y: auto;" id="db-skills-<%= skill_type.id %>">
    <%= render Skill.where(skill_type: skill_type).sort_by(&:name) %>
  </div>
</div>
