<div>
  <%= form_for Skill.new, url: skills_path, method: :post, remote: true, html: { class: 'row no-margin' } do |f| %>
    <div class="input-field col s4">
      <%= f.text_field :name %>
    </div>
    <div class="input-field col s4">
      <%= f.select :skill_type_id, options_for_select(SkillType.all.collect { |s| [s.name, s.id]}) %>
      <label for="skill_skill_type_id"></label>
    </div>
    <div class="input-field col s2">
      <%= f.submit 'Create', class: 'btn-flat', style: 'height: 45px;' %>
    </div>
  <% end %>

</div>
<div id="le-skills" class="row no-margin">
  <%= render Skill.all %>
</div>
