<div>
  <%= form_for SkillType.new, url: skill_types_path, method: :post, remote: true, html: { class: 'row no-margin' } do |f| %>
    <div class="input-field col s4">
      <%= f.text_field :name %>
    </div>
    <div class="input-field col s4">
      <%= f.text_field :description %>
    </div>
    <div class="input-field col s2">
      <%= f.submit 'Create', class: 'btn-flat', style: 'height: 45px;' %>
    </div>

  <% end %>
  <div id="le-skill-types" class="row no-margin">
    <%= render SkillType.all%>
  </div>
</div>
