<div class="skill-type" id="skill-type-<%= skill_type.id %>">
  <%= form_for skill_type, url: skill_types_path(id: skill_type.id), method: :patch, remote: true, html: { class: 'row no-margin' } do |f| %>
    <div class="input-field col s4">
      <%= f.text_field :name %>
    </div>
    <div class="input-field col s4">
      <%= f.text_field :description %>
    </div>
    <div class="input-field col s2">
      <%= f.submit 'Update', class: 'btn-flat', style: 'height: 45px;' %>
    </div>
    <div class="input-field col s2" style="height: 45px;">
      <%= link_to skill_types_path(id: skill_type.id), method: :delete, remote: true do %>
        <i class="material-icons purple-text">delete</i>
      <% end %>
    </div>
  <% end %>
</div>
