<div class="row" style="display: table-cell;">
  <ul class="breadcrumb">
    <li><a href="">Home</a></li>
  </ul>
</div>

<div class="row">
  <div class="col s4">
    <div class="card small">
      <div class="card-content">
        <span class="card-title purple-text">Your Projects</span>
        <% if @projects.present? %>
          <% @projects.each do |project| %>
          <div class="project" id="user-projects-<%= project.code %>">
            <span class="purple-hover" onclick="Turbolinks.visit('<%= project_path(code: project.code) %>');" style="cursor: pointer;"><%= project.name %></span>
          </div>
          <% end %>
        <% else %>
          <p>No Projects!</p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col s8">
    <div class="card small">
      <div class="card-content">
        <span class="card-title purple-text">Your Calendar</span>
        <p></p>
      </div>
    </div>
  </div>
</div>

<div class="row z-depth-2">
  <span class="center-align purple-text tab-title" onclick="Turbolinks.visit('<%= announcements_path %>');" style="cursor: pointer;">System Announcements</span>
  <div class="divider"></div>
  <div class="card">
    <%= render @system_announcements %>
  </div>
</div>

<div class="row z-depth-2" id="announcements_row">
  <span class="center-align purple-text tab-title" onclick="Turbolinks.visit('<%= announcements_path %>');" style="cursor: pointer;">Project Announcements</span>
  <div class="divider"></div>
  <div class="tabs-vertical">
    <div class="col s3">
      <ul class="tabs" id="announcement-tabs">
        <li class="tab"><a href="#overview">Overview</a></li>
        <% @projects.each do |project| %>
        <li class="tab">
          <a href="#project-<%= project.code %>"><%= project.name %></a>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="col s9" id="announcement-content">
      <div id="overview" class="tab-content">
      <%= render @project_announcements %>
      </div>
      <% @projects.each do |project| %>
      <div id="project-<%= project.code %>">
        <%= render project.project_announcements.reverse %>
      </div>
      <% end %>
    </div>
  </div>
</div>
