<%= form_for Invitation.new, url: invitations_path, method: :post, remote: true do |f| %>
<ul id="invitation-errors"></ul>
<div class="input-field">
  <%= f.text_field :email %>
  <%= f.label :email %>
</div>
<div class="row" style="display: flex;">
  <div class="input-field col s9">
    <%= f.collection_select :groups, Group.all, :id, :name, { prompt: 'Select Groups' }, { multiple: true } %>
    <%= f.label :groups %>
  </div>
  <div class="col s3" style="display: flex; justify-content: center; align-items: center;">
    <button class="btn waves-effect waves-light" style="width: 100%" type="submit" name="action">Send</button>
  </div>
</div>
<% end %>
