<p>Token: <%= @token %></p>
<%= form_for @user, url: accept_invitation_path(token: @token), method: :post do |f| %>
  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.password_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.password_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :location %><br />
    <%= f.password_field :location %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: 'off' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: 'off' %>
  </div>

  <%= f.submit %>
<% end %>
