<div class='project' id='project-<%= project.code %>' onclick="Turbolinks.visit('<%= project_path(code: project.code) %>');" style="cursor: pointer;">
  <div class='project-contents'>
    <div class='project-code'><%= project.code %></div>
    <div class='project-info'>
      <%= project.name %>
      <%= project.project_type.name %>
    </div>
  </div>
</div>
