<h1>Projects#new</h1>
<%= form_for @project, url: projects_path do |f| %>
  <ul>
  <% @project.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
  <%= f.text_field :code, placeholder: 'Project Code' %>
  <%= f.text_field :name, placeholder: 'Project Name' %>
  <%= f.collection_select(:project_type_id, ProjectType.all, :id, :name) %>
  <%= f.submit 'Create Project' %>
<% end %>
