<div class='project-role-user col s6' id='<%= project_role_user.project_role.id %>-project-role-user-<%= project_role_user.id %>'>
  <div class="avatar left">
    <%= user_avatar(project_role_user.user) %>
  </div>
  <div class="user-info">
    <span class='name left-align'><%= project_role_user.user.name %><br/><span class="grey-text"><%= project_role_user.user.email %></span></span>
  </div>
</div>
