<div class="row">
<a href="#manage-users-<%= project_role.id %>" class='btn-flat center-align manage-button'>Manage Users</a>
  <% if project_role.project_role_users.present? %>
  <div id="project-role-users" class="project-role-content">
  <% project_role.project_role_users.each do |project_role_user| %>
    <%= render 'project_role_users/project_role_user', project_role_user: project_role_user %>
  <% end %>
  </div>
  <% end %>
</div>

<div class="modal" id="manage-users-<%= project_role.id %>">
  <div class="modal-content">
    <h4 class="purple-text">User Management: <%= project_role.name.humanize %></h4>
      <%= form_tag do %>
        <%= text_field_tag :search %>
      <% end %>
    <div class="divider" id="manage-divider"></div>
    <div class="row">
      <div id="project-role-users-manage">
        <% project_role.users.each do |user| %>
          <div class="project-role-user col s4" id="<%= project_role.id%>-manage-project-role-user-<%= user.id %>">
          <div class="avatar left">
            <%= user_avatar(user) %>
          </div>
          <div class"user-info">
            <div class="name left-align"><%= user.name %></div>
            <%= link_to 'Remove', project_role_users_path(name: project_role.name, code: project_role.project.code, id: user.id ), method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
