<div class="row">
<a href="#manage-users-<%= project_role.id %>" class='btn-flat center-align manage-button'>Manage Users</a>
  <% if project_role.project_role_users.present? %>
  <div id="project-role-users" class="project-role-content">
  <% project_role.project_role_users.each do |project_role_user| %>
    <%= render 'project_role_users/project_role_user', project_role_user: project_role_user %>
  <% end %>
  </div>
  <% end %>
</div>

<div class="modal" id="manage-users-<%= project_role.id %>">
  <div class="modal-content">
    <h4 class="purple-text">User Management: <%= project_role.name.humanize %></h4>
    <div id="user-management-table row">
      <table class="striped highlight">
        <thead>
          <th>Select All</th>
          <th>Name</th>
          <th>Location</th>
        </thead>
        <tbody>
          <% if project_role.users.present? %>
            <% project_role.users.each do |user| %>
              <tr>
                <td>
                  <%= check_box_tag :add, "1", true, class: 'filled-in' %>
                  <%= label_tag :add, '', style: 'display: hidden;' %>
                </td>
                <td><%= user.name %></td>
                <td><%= user.location.name %></td>
              </tr>
            <% end %>
          <% else %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
