<div class="location" id="location-<%= location.id %>">
  <%= form_for location, url: locations_path(id: location.id), method: :patch, remote: true, html: { class: 'row no-margin' } do |f| %>
    <div class="input-field col s4">
      <%= f.text_field :name %>
    </div>
    <div class="input-field col s4">
      <%= f.text_field :description %>
    </div>
    <div class="input-field col s2">
      <%= f.submit 'Update', class: 'btn-flat', style: 'height: 45px;' %>
    </div>
    <div class="input-field col s2" style="height: 45px;">
      <%= link_to locations_path(id: location.id), method: :delete, remote: true do %>
        <i class="material-icons purple-text">delete</i>
      <% end %>
    </div>
  <% end %>
</div>
