<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:page_title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'respond' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='flash'>
  <% if notice %>
    <p id='notice'><%= notice %></p>
  <% end %>
  <% if alert %>
    <p id='alert'><%= alert %></p>
  <% end %>
  </div>
  <div class="topnav">
    <ul id="myTopnav">
      <li class='logo'><%=link_to '/' do %><%= image_tag 'leidos_logo.jpg' %><% end %></li>
      <li><a href="#"><%= octicon 'search' %></a></li>
      <li><a href="#">Projects</a></li>

      <li class='log-out'>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <%= octicon 'sign-out' %>
        <% end %>
      </li>

      <li class='log-out'>
        <%= link_to '', method: :delete do %>
          <%= octicon 'gear' %>
        <% end %>
      </li>

      <li class='log-out'>
        <%= link_to '' do %>
          <%= octicon 'bell' %>
        <% end %>
      </li>
      <li class="icon">
        <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
      </li>
    </ul>
  </div>
  <% if user_signed_in? %>
  <% end %>
  <div class="yielded">
    <%= yield %>
  </div>
</body>
</html>
